@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fredoka:wght@400;700&family=Fredoka+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bungee', system-ui, sans-serif;
}

.footer-title {
  font-family: 'Fredoka One', cursive;
}

.footer-item {
  font-family: 'Fredoka', sans-serif;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
